<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="footer.css" />

    <title>O QUE COMPRAR?</title>
    <link rel="stylesheet" href="style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <h2>Preparar lista de Compras
      <br><button type="button" class="btn-badge">Lista pronta para ir ao Mercado! <span class="badge" >0</span></button>
    </h2>
    
    <div id="listapronta">
      <div class="row">
        <div class="card gray">
          <h2>PEGAR ITENS NO MERCADO</h2>
          <div class="checkbox-wrapper-52">
            <label for="todo-52" class="item">
              <input type="checkbox" id="todo-52" class="hidden"/>
              <label for="todo-52" class="cbx">      
                <svg width="14px" height="12px" viewBox="0 0 14 12">
                  <polyline points="1 7.6 5 11 13 1"></polyline>
                </svg>
              </label>
              <label for="todo-52" class="cbx-lbl">To-do</label>
            </label>
          </div>
          <img class="image" src="listapronta.png" alt="" />
        </div>
      </div>
      <div class="text-center">
        <button type="button" class="btn-badge">Finalizei!</button>
      </div>
    </div>

    <div id="preparalista" style="display: none;">
      <div class="row">      
        <div class="card gray">
          <h2>Mercearia</h2>
          <div class="checkbox-wrapper-1">
            <input id="example-1" class="substituted" type="checkbox" aria-hidden="true" />
            <label for="example-1">Checkbox</label>
          </div>
          <img class="image" src="MERCEARIA.jpg" alt="" />
        </div>
  
        <div class="card gray">
          <h2>Limpeza e Higiene Pessoal</h2>
          <p>Configure o seu sistema</p>
          <img class="image" src="LIMPEZA.jpg" alt="" />
        </div>
  
        <div class="card gray">
          <h2>Frutas e Legumes</h2>
          <p>Crie e edite artigos</p>
          <img class="image" src="FRUTASLEGUMES.jpg" alt="" />
        </div>      
      </div>
  
      <div class="row">      
        <div class="card gray">
          <h2>Congelados</h2>
          <p>Configure a monetização</p>
          <img class="image" src="CONGELADOS.png" alt="" />
        </div>
  
        <div class="card gray">
          <h2>Padaria e Doces</h2>
          <p>Configure o seu sistema</p>
          <img class="image" src="PADARIADOCES.jpg" alt="" />
        </div>
  
        <div class="card gray">
          <h2>Frios e Laticínios</h2>
          <p>Crie e edite artigos</p>
          <img class="image" src="Frios.png" alt="" />
        </div>      
      </div>
  
      <div class="row">      
        <div class="card gray">
          <h2>Bebidas</h2>
          <p>Configure a monetização</p>
          <img class="image" src="Bebidas.jpg" alt="" />
        </div>
  
        <div class="card gray">
          <h2>Utilidades e Outros</h2>
          <p>Configure o seu sistema</p>
          <img class="image" src="Utilidades.jpg" alt="" />
        </div>
  
       
      </div>
    </div>

    <div class="footer" id="footer"></div>
    <script src="footer.js"></script>
  </body>
</html>
