<header>
  <h2>Preparar lista de Compras
    <br>
    <button type="button" class="btn-badge"  *ngIf="purchases.length==0">
      <span>Selecione os itens para a lista! </span>
    </button>
    <button type="button" class="btn-badge" (click)="changeMode('list')"  *ngIf="purchases.length!=0">
      <span>Lista pronta para ir ao Mercado! </span>
      <span class="badge" >{{purchases.length}}</span>
    </button>  
  </h2>
</header>
<div class="main">
  <div id="listapronta" *ngIf="mode=='list'">
    <div class="row">
      <div class="card gray">
        <h2>PEGAR ITENS NO MERCADO</h2>
  
        <div *ngFor="let item of purchases"  class="checkbox-wrapper-52">
          <label for="todo-{{item.id}}" class="item">
            <input type="checkbox" id="todo-{{item.id}}" class="hidden"/>
            <label for="todo-{{item.id}}" class="cbx">      
              <svg width="14px" height="12px" viewBox="0 0 14 12">
                <polyline points="1 7.6 5 11 13 1"></polyline>
              </svg>
            </label>
            <label for="todo-{{item.id}}" class="cbx-lbl">{{item.item}}</label>
          </label>
        </div>
  
        <img class="image" src="assets/listapronta.png" alt="" />
      </div>
    </div>
    <div class="text-center">
      <button type="button" class="btn-badge" (click)="changeMode('addList')">Finalizei!</button> | 
      <button type="button" class="btn-badge" (click)="deleteAll()">Refazer!</button>
    </div>
  </div>
  
  <div id="preparalista" *ngIf="mode=='addList'">
    <form [formGroup]="form">
      <div class="row">      
        <div class="card gray">
          <h2>Mercearia</h2>
          <div *ngFor="let item of dataList" class="checkbox-wrapper-1" >
            <input id="example-{{item.id}}" class="substituted" type="checkbox" aria-hidden="true" 
            *ngIf="item.categoria=='Mercearia'" (change)="changeDone(item,$event)"  />
            <label for="example-{{item.id}}" *ngIf="item.categoria=='Mercearia'">{{item.item}}</label>          
          </div>
          <img class="image" src="assets/MERCEARIA.jpg" alt="" />
        </div>
  
        <div class="card gray">
          <h2>Limpeza e Higiene Pessoal</h2>
          <div *ngFor="let item of dataList" class="checkbox-wrapper-1" >
            <input id="example-{{item.id}}" class="substituted" type="checkbox" aria-hidden="true" 
            *ngIf="item.categoria=='LIMPEZA E HIGIENE PESSOAL'" (change)="changeDone(item,$event)"  />
            <label for="example-{{item.id}}" *ngIf="item.categoria=='LIMPEZA E HIGIENE PESSOAL'">{{item.item}}</label>          
          </div>
          <img class="image" src="assets/LIMPEZA.jpg" alt="" />
        </div>
  
        <div class="card gray">
          <h2>Frutas e Legumes</h2>
          <div *ngFor="let item of dataList" class="checkbox-wrapper-1" >
            <input id="example-{{item.id}}" class="substituted" type="checkbox" aria-hidden="true" 
            *ngIf="item.categoria=='FRUTAS E LEGUMES'" (change)="changeDone(item,$event)"  />
            <label for="example-{{item.id}}" *ngIf="item.categoria=='FRUTAS E LEGUMES'">{{item.item}}</label>          
          </div>
          <img class="image" src="assets/FRUTASLEGUMES.jpg" alt="" />
        </div>      
      </div>
  
      <div class="row">      
        <div class="card gray">
          <h2>Congelados</h2>
          <div *ngFor="let item of dataList" class="checkbox-wrapper-1" >
            <input id="example-{{item.id}}" class="substituted" type="checkbox" aria-hidden="true" 
            *ngIf="item.categoria=='CONGELADOS'" (change)="changeDone(item,$event)"  />
            <label for="example-{{item.id}}" *ngIf="item.categoria=='CONGELADOS'">{{item.item}}</label>          
          </div>
          <img class="image" src="assets/CONGELADOS.png" alt="" />
        </div>
  
        <div class="card gray">
          <h2>Padaria e Doces</h2>
          <div *ngFor="let item of dataList" class="checkbox-wrapper-1" >
            <input id="example-{{item.id}}" class="substituted" type="checkbox" aria-hidden="true" 
            *ngIf="item.categoria=='PADARIA E DOCES'" (change)="changeDone(item,$event)"  />
            <label for="example-{{item.id}}" *ngIf="item.categoria=='PADARIA E DOCES'">{{item.item}}</label>          
          </div>
          <img class="image" src="assets/PADARIADOCES.jpg" alt="" />
        </div>
  
        <div class="card gray">
          <h2>Frios e Laticínios</h2>
          <div *ngFor="let item of dataList" class="checkbox-wrapper-1" >
            <input id="example-{{item.id}}" class="substituted" type="checkbox" aria-hidden="true" 
            *ngIf="item.categoria=='FRIOS E LATICÍNIOS'" (change)="changeDone(item,$event)"  />
            <label for="example-{{item.id}}" *ngIf="item.categoria=='FRIOS E LATICÍNIOS'">{{item.item}}</label>          
          </div>
          <img class="image" src="assets/Frios.png" alt="" />
        </div>      
      </div>
  
      <div class="row">      
        <div class="card gray">
          <h2>Bebidas</h2>
          <div *ngFor="let item of dataList" class="checkbox-wrapper-1" >
            <input id="example-{{item.id}}" class="substituted" type="checkbox" aria-hidden="true" 
            *ngIf="item.categoria=='BEBIDAS'" (change)="changeDone(item,$event)"  />
            <label for="example-{{item.id}}" *ngIf="item.categoria=='BEBIDAS'">{{item.item}}</label>          
          </div>
          <img class="image" src="assets/Bebidas.jpg" alt="" />
        </div>
  
        <div class="card gray">
          <h2>Utilidades e Outros</h2>
          <div *ngFor="let item of dataList" class="checkbox-wrapper-1" >
            <input id="example-{{item.id}}" class="substituted" type="checkbox" aria-hidden="true" 
            *ngIf="item.categoria=='UTILIDADES E OUTROS'" (change)="changeDone(item,$event)"  />
            <label for="example-{{item.id}}" *ngIf="item.categoria=='UTILIDADES E OUTROS'">{{item.item}}</label>          
          </div>
          <img class="image" src="assets/Utilidades.jpg" alt="" />
        </div>
  
      
      </div>
    </form>
  </div>
</div>
