<header>
  <h2>Preparar lista de Compras
    <br>
    <button type="button" class="btn-badge"  *ngIf="purchases.length==0">
      <span>Selecione os itens para a lista! </span>
    </button>
    <button type="button" class="btn-badge" (click)="changeMode('list')"  *ngIf="purchases.length!=0">
      <span>Lista pronta para ir ao Mercado! </span>
      <span class="badge" >{{purchases.length}}</span>
    </button>  
  </h2>
</header>
<div class="main">
  <div id="listapronta" *ngIf="mode=='list'">
    <div class="row">
      <div class="card gray">
        <h2>PEGAR ITENS NO MERCADO</h2>
  
        <div *ngFor="let item of purchases"  class="checkbox-wrapper-52">
          <label for="todo-{{item.id}}" class="item">
            <input type="checkbox" id="todo-{{item.id}}" class="hidden"/>
            <label for="todo-{{item.id}}" class="cbx">      
              <svg width="14px" height="12px" viewBox="0 0 14 12">
                <polyline points="1 7.6 5 11 13 1"></polyline>
              </svg>
            </label>
            <label for="todo-{{item.id}}" class="cbx-lbl">{{item.item}}</label>
          </label>
        </div>
  
        <img class="image" src="assets/listapronta.png" alt="" />
      </div>
    </div>
    <div class="text-center">
      <button type="button" class="btn-badge" (click)="changeMode('addList')">Finalizei!</button> | 
      <button type="button" class="btn-badge" (click)="deleteAll()">Refazer!</button>
    </div>
  </div>
  
  <div id="preparalista" *ngIf="mode=='addList'">
    <form [formGroup]="form">
      <div class="row">
        <div class="card gray">
          <app-list-form
            [dataList]="dataList"
            [category]="'Mercearia'"
            [title]="'Mercearia'"
            [pathImage]="'assets/MERCEARIA.jpg'"
            (changeDoneEvent)="changeDone($event)"
          ></app-list-form>
        </div>
        <div class="card gray">
          <app-list-form
            [dataList]="dataList"
            [category]="'LIMPEZA E HIGIENE PESSOAL'"
            [title]="'Limpeza e Higiene Pessoal'"
            [pathImage]="'assets/LIMPEZA.jpg'"
            (changeDoneEvent)="changeDone($event)"
          ></app-list-form>
        </div>
  
        <div class="card gray" >
          <app-list-form 
            [dataList]="dataList"
            [category]="'FRUTAS E LEGUMES'"
            [title]="'Frutas e Legumes'"
            [pathImage]="'assets/FRUTASLEGUMES.jpg'"
            (changeDoneEvent)="changeDone($event)"
          ></app-list-form>
        </div>      
      </div>
  
      <div class="row">      
        <div class="card gray">
          <app-list-form 
            [dataList]="dataList"
            [category]="'CONGELADOS'"
            [title]="'Congelados'"
            [pathImage]="'assets/CONGELADOS.png'"
            (changeDoneEvent)="changeDone($event)"
          ></app-list-form>
        </div>
  
        <div class="card gray">
          <app-list-form 
          [dataList]="dataList"
          [category]="'PADARIA E DOCES'"
          [title]="'Padaria e Doces'"
          [pathImage]="'assets/PADARIADOCES.jpg'"
          (changeDoneEvent)="changeDone($event)"
        ></app-list-form>
        </div>
  
        <div class="card gray">
          <app-list-form 
            [dataList]="dataList"
            [title]="'Frios e Laticínios'"
            [category]="'FRIOS E LATICÍNIOS'"
            [pathImage]="'assets/Frios.png'"
            (changeDoneEvent)="changeDone($event)"
          ></app-list-form>
        </div>      
      </div>
  
      <div class="row">      
        <div class="card gray">
          <app-list-form
            [dataList]="dataList"
            [category]="'BEBIDAS'"
            [title]="'Bebidas'"
            [pathImage]="'assets/Bebidas.jpg'"
            (changeDoneEvent)="changeDone($event)"
          ></app-list-form>
        </div> 
  
        <div class="card gray">
          <app-list-form 
            [dataList]="dataList"
            [category]="'UTILIDADES E OUTROS'"
            [title]="'Utilidades e Outros'"
            [pathImage]="'assets/Utilidades.jpg'"
            (changeDoneEvent)="changeDone($event)"
        ></app-list-form>
        </div>
      </div>
    </form>
  </div>
</div>